<div *ngIf="!accessPolicies" class="tw-items-center tw-justify-center tw-pt-64 tw-text-center">
  <i class="bwi bwi-spinner bwi-spin bwi-3x"></i>
</div>

<ng-container *ngIf="accessPolicies">
  <bit-table>
    <ng-container header>
      <tr>
        <th bitCell>{{ columnTitle | i18n }}</th>
        <th bitCell>{{ "permissions" | i18n }}</th>
      </tr>
    </ng-container>
    <ng-container *ngIf="accessPolicies?.length > 0" body>
      <tr bitRow *ngFor="let permission of accessPolicies">
        <td bitCell>{{ permission.name }}</td>
        <td bitCell>{{ permission.policyType }}</td>
        <td bitCell class="tw-w-0">
          <button
            type="button"
            bitIconButton="bwi-close"
            buttonType="main"
            size="default"
            [attr.title]="'close' | i18n"
            [attr.aria-label]="'close' | i18n"
          ></button>
        </td></tr
    ></ng-container>
  </bit-table>

  <div *ngIf="accessPolicies?.length == 0" class="tw-mt-4 tw-text-center">
    {{ emptyMessage | i18n }}
  </div>
</ng-container>
