<div class="page-header">
  <h1>
    {{ "subscription" | i18n }}
    <small *ngIf="firstLoaded && loading">
      <i
        class="bwi bwi-spinner bwi-spin text-muted"
        title="{{ 'loading' | i18n }}"
        aria-hidden="true"
      ></i>
      <span class="sr-only">{{ "loading" | i18n }}</span>
    </small>
  </h1>
</div>

<ng-container *ngIf="!firstLoaded && loading">
  <i class="bwi bwi-spinner bwi-spin text-muted" title="{{ 'loading' | i18n }}"></i>
  <span class="sr-only">{{ "loading" | i18n }}</span>
</ng-container>

<app-org-subscription-hidden
  *ngIf="firstLoaded && !userOrg.canManageBilling"
  [providerName]="userOrg.providerName"
></app-org-subscription-hidden>

<ng-container *ngIf="sub">
  <dl>
    <dt>{{ "billingPlan" | i18n }}</dt>
    <dd>{{ sub.plan.name }}</dd>
    <dt>{{ "expiration" | i18n }}</dt>
    <dd *ngIf="sub.expiration">
      {{ sub.expiration | date: "mediumDate" }}
      <span *ngIf="isExpired" class="text-danger ml-2">
        <i class="bwi bwi-exclamation-triangle" aria-hidden="true"></i>
        {{ "licenseIsExpired" | i18n }}
      </span>
    </dd>
    <dd *ngIf="!sub.expiration">{{ "neverExpires" | i18n }}</dd>
    <ng-container *ngIf="billingSyncSetUp">
      <dt>{{ "lastLicenseSync" | i18n }}</dt>
      <dd>
        {{
          userOrg.familySponsorshipLastSyncDate != null
            ? (userOrg.familySponsorshipLastSyncDate | date: "medium")
            : ("never" | i18n)
        }}
      </dd>
    </ng-container>
  </dl>

  <!-- TODO: deep link -->
  <a
    bitButton
    buttonType="secondary"
    href="https://vault.bitwarden.com"
    target="_blank"
    rel="noopener"
  >
    {{ "manageSubscription" | i18n }}
  </a>
  <form>
    <bit-radio-group [formControl]="licenseOptionsControl">
      <h2 class="mt-5">
        {{ "licenseAndBillingManagement" | i18n }}
      </h2>
      <div class="tw-flex">
        <bit-radio-button
          id="automatic-sync"
          [value]="licenseOptions.SYNC"
          [disabled]="disableLicenseSyncControl"
          class="tw-block"
          >{{ "automaticSync" | i18n }}</bit-radio-button
        >
        <a
          href="https://bitwarden.com/help/families-for-enterprise-self-hosted/"
          target="_blank"
          rel="noopener"
        >
          <i class="bwi bwi-question-circle" aria-hidden="true"></i>
          <span class="sr-only">{{ "billingSyncHelp" | i18n }}</span>
        </a>
      </div>
      <p>
        {{ "billingSyncDesc" | i18n }}
      </p>
      <button
        bitButton
        buttonType="secondary"
        type="button"
        (click)="manageBillingSyncSelfHosted()"
      >
        {{ "manageBillingSync" | i18n }}
      </button>
      <button bitButton buttonType="secondary" type="button" [bitAction]="syncLicense">
        {{ "syncLicense" | i18n }}
      </button>

      <bit-radio-button
        id="manual-upload"
        [value]="licenseOptions.UPLOAD"
        class="tw-mt-6 tw-block"
        >{{ "manualUpload" | i18n }}</bit-radio-button
      >
      <p>
        {{ "manualUploadDesc" | i18n }}
      </p>
      <div class="mt-3" *ngIf="licenseOptionsControl.value === licenseOptions.UPLOAD">
        <h3 class="tw-font-semibold">{{ "uploadLicense" | i18n }}</h3>
        <app-update-license
          [organizationId]="organizationId"
          [showCancel]="false"
          (onUpdated)="licenseUpdated()"
        ></app-update-license>
      </div>
    </bit-radio-group>
  </form>
</ng-container>
