<div class="page-header">
  <h1>
    {{ "subscription" | i18n }}
    <small *ngIf="firstLoaded && loading">
      <i
        class="bwi bwi-spinner bwi-spin text-muted"
        title="{{ 'loading' | i18n }}"
        aria-hidden="true"
      ></i>
      <span class="sr-only">{{ "loading" | i18n }}</span>
    </small>
  </h1>
</div>
<ng-container *ngIf="!firstLoaded && loading">
  <i class="bwi bwi-spinner bwi-spin text-muted" title="{{ 'loading' | i18n }}"></i>
  <span class="sr-only">{{ "loading" | i18n }}</span>
</ng-container>

<ng-container *ngIf="firstLoaded && !userOrg.canManageBilling">
  <div class="tw-flex tw-flex-col tw-items-center tw-text-info">
    <bit-icon [icon]="subscriptionHiddenIcon"></bit-icon>
    <p class="tw-font-bold">{{ "billingManagedByProvider" | i18n: this.userOrg.providerName }}</p>
    <p>{{ "billingContactProviderForAssistance" | i18n }}</p>
  </div>
</ng-container>

<ng-container *ngIf="sub">
  <app-org-subscription-cloud
    *ngIf="!selfHosted && !loading"
    [sub]="sub"
    [organizationId]="organizationId"
    [loading]="loading"
    [hasBillingSyncToken]="hasBillingSyncToken"
    [userOrg]="userOrg"
    (reload)="load()"
  >
  </app-org-subscription-cloud>
  <app-org-subscription-selfhost
    *ngIf="selfHosted && !loading"
    [sub]="sub"
    [organizationId]="organizationId"
    [userOrg]="userOrg"
    (reload)="load()"
  ></app-org-subscription-selfhost>
</ng-container>
