<p class="tw-mt-8">
  {{ "projectPeopleDescription" | i18n }}
</p>
<form [formGroup]="formGroup" [bitSubmit]="submit" class="tw-mt-5">
  <bit-form-field>
    <bit-label>{{ "projectPeopleSelectLabel" | i18n }}</bit-label>
    <bit-multi-select
      class="tw-mr-4 tw-w-1/3"
      formControlName="multiSelect"
      [baseItems]="baseItems"
      [loading]="loading"
    ></bit-multi-select>
    <bit-hint>{{ "projectPeopleSelectHint" | i18n }}</bit-hint>
    <button type="submit" bitButton buttonType="primary" bitFormButton>{{ "add" | i18n }}</button>
  </bit-form-field>
</form>
